extends layout

block content
  h1=client.name
  h1=client.ip
  h1=client.username
  h5 Written by #{author}
  hr
  a(href='/clients/add') Add Client
  if user
    if user.id ==client.author
      a.btn.btn-default(href='/clients/edit/'+client._id) Edit
      a.btn.btn-danger.delete-client(href='#',data-id=client._id) Delete
